.vercel

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

.env
/modules/*.json

.vscode/
/supabase/.temp

testemail.js

/uploads

match_profiles.csv

test_match_profiles.csv

.vercelignore